<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verification Code</title>
</head>
<body>
    <h3>Password Reset Request</h3>
    <p>Your password reset code is:</p>
    <div style="font-size: 24px; font-weight: bold;">{{code}}</div>
    <p>It will expire in {{expiresIn}} minutes.</p>
    <p>If you did not request this, please ignore this email.</p>

</body>
</html>
